.button {
  margin-top: 20px;
  color: rgb(75, 30, 30);
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(255, 126, 126);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(240, 240, 155);
}
